@model LeaveManager.Models.LeaveTypeCreateVM

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2 class="d-flex justify-content-center my-5">Edit</h2>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden"/>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DefaultDays" class="control-label"></label>
                    <input type="number" min="1" max="25" asp-for="DefaultDays" class="form-control"/>
                    <span asp-validation-for="DefaultDays" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-success btn-block"/>
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a> | <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
            </div>
        </div>
    </div>
</div>