@{
    ViewData["Title"] = "Home Page";
}
<div class="row w-100 bg-image-overlay m-0">
    <div class="cta-main col-md-8 d-flex justify-content-start align-items-end">
        <div class="cta">
            <h1>Leave Management<br>Application</h1>
            <p class="mb-4">Onboard staff of your organization an provisions cutting-edge<br>Leave management services</p>
            <button>SIGN UP</button>
        </div>
    </div>
    <div class="col-md-4 cta-aside p-0">
        <div class="dashboard">
            <ion-icon name="today-outline"></ion-icon>
            <h6>Dashboard</h6>
            <p>Log in to access your dashboard</p>
        </div>
        <div class="console">
            <ion-icon name="documents-outline"></ion-icon>
            <h6>Dashboard</h6>
            <p>Onboard your employees using our platform</p>
        </div>
    </div>
</div>
