.bg-image-overlay{
    background-image: linear-gradient(
        rgba(75, 108, 183, 0.5), 
        rgba(24, 40, 72, 0.5)), url('../images/leave.jpg');
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cta{
    padding: 2rem;
}

.cta h1{
    font-weight: 700;
    font-size: 48px;
    color: white;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.cta p{
    color: white;
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 1.7;
}

.cta button{
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: .7rem 1.7rem;
}

.cta-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}


ion-icon{
    font-size: 72px;
    margin-bottom: 1rem;
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #e5e5e5;
    flex-grow: 1;
    align-items: flex-start;
    padding: 2rem;
    color: #14213d;
}

.dashboard h6, .console h6{
    font-weight: 700;
}

.dashboard p, .console p{
    font-size: 12px;
}

.console{
    background-color: #1d3557;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #e5e5e5;
    flex-grow: 1;
    align-items: flex-start;
    padding: 2rem;
}